/* Nav Styles */
.ct-nav{
    display: flex;
    justify-content: space-between;
}

.ct-nav img{
    width: 25%;
    max-width: 100%;
    margin-left: 2vw;
}

ul#horizontal-list{
    min-width: 696px;
    list-style: none;
    padding-top: 20px;
    padding-bottom: 50px;
}

ul#horizontal-list li, ul#horizontal-list a{
    display: inline;
    text-decoration: none;
    padding: 0.5vw;
    color: black;
}

ul#horizontal-list a:nth-last-child(1){
    border: 2px solid red;
    border-radius: 11px;
    margin-right: 0.2vw;
}

#welcome-text{
    text-align:center;
}

#header-text{
    padding: 2vw;
}

.header-image{
    width: 82%;
    max-width: 100%;
}

#middle-text{
    text-align: center;
    padding: 13vh;
}

#middle-text h2{
    padding:1.5vw;
}

#api-image,#graphql-image,#database-image{
    margin-bottom: 10vh;
}

#features-section{
    margin: 8vw;
    text-align:center;
}

#footer-logo{
    width:100%;
    max-width:100%;
}

#footer{
    border-top: 3px solid black;
    margin-top: 20vh;
} 