<form method='POST'>
    {{ form.hidden_tag() }}
    <div class="form-group">

        <fieldset id='name-field'>
            {{ form.name.label }}
            {{ form.name(class = "form-control", placeholder = 'enter your full name') }}
        </fieldset>

        <fieldset id='username-field'>
            {{ form.username.label }}
            {{ form.username(class = "form-control", placeholder = 'enter your username') }}
        </fieldset>
        
        <fieldset id="email-field">
            {{ form.email.label }}
            {{ form.email(class = 'form-control', placeholder = 'enter your email address ') }}
        </fieldset>

        <fieldset id='pass-field'>
            {{ form.password.label }}
            {{ form.password(class = "form-control", placeholder = 'enter your password') }}
        </fieldset>


        {{ form.submit_button(class = "btn btn-primary btn-block") }}

    </div>
</form>